.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F4858;
    padding: 10px 20px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.project-name h2 {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
}

.user-section {
    position: relative;
    cursor: pointer;
}

.user-icon {
    color: #ffffff;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
}

.dropdown-item {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
